openapi: 3.0.3
info:
  title: Vantic API
  description: |
    Backend API for the Vantic prediction market platform.

    ## Authentication
    Most endpoints require a JWT Bearer token. Obtain one via `POST /auth`.
    Pass it as: `Authorization: Bearer <token>`

    ## API Key
    All endpoints require the `X-API-Key` header. Requests without a valid key receive `401 Unauthorized`.

    ## Admin Endpoints
    Admin routes require the `X-Admin-Key` header instead of JWT.

    ## Demo Mode
    Users can trade in demo mode with simulated balances. Demo balances are prefixed
    with `demo_` in the balance object. Use `POST /demo/fund` to load up to $200.

    ## Markets
    - **CAPPM** — Crypto Assets Price Prediction Markets. Binary YES/NO on BTC/ETH/SOL
      price at a future timestamp. Auto-created and auto-settled by the backend.
      - **High-Frequency (≤ 1 hr):** Uses "Sample and Hold" — the strike is the spot price
        at creation, and the direction is always **Above**.
      - **Standard (> 1 hr):** Uses mathematical strike distances (ATR-based) and
        momentum-driven directionality.
    - **GEM** — General Event Markets. Any binary event. Created manually via admin.
    - Winning shares pay $1.00 USD each. Prices between $0.01–$0.99 per share.

    ## Order Placement Flow
    `quantity` in `POST /orders` is always **shares**, not dollars. To convert a dollar stake
    to shares before placing an order:
    1. Call `GET /markets/{id}/quote?side=YES&stake=<amount>` to get `estimated_shares` and `avg_price`.
    2. For a **market order**: use `estimated_shares` as `quantity`.
    3. For a **limit order**: choose your trigger price `P`, then `quantity = stake / P`.

    ## Executable Quote Flow (Reserved Fill)
    Use this for tighter UX on immediate execution for bounded size:
    1. Call `POST /markets/{id}/quote` with `{ side, stake }` to reserve executable liquidity.
    2. Receive `quote.id` and `quote.expires_at`.
    3. Call `POST /markets/{id}/quote/accept` with `{ quote_id }` before expiry.
    4. Backend executes against reserved slices and returns the created order.

    ## Fee Schedule (User Visible)
    - Deposit: Solana 0.1%, Base 0.5%
    - Withdraw: Solana 0%, Base 0.5%
    - Sell: Solana 0.09%, Base 0.1%
    - Fee details are returned on transaction records (`fee_amount`, `fee_rate`, `fee_chain`).

    ## WebSockets
    - `GET /ws` — Authenticated. Pushes live BTC/ETH/SOL prices every 5s and
      `BALANCE_UPDATE` events when user balance changes.
    - `GET /ws/markets/:id/orderbook` — Authenticated. Streams live orderbook depth
      and fill events for a specific market.

    ## OVM — Onchain Verifiable Markets
    Every market's creation and settlement is recorded on Solana. Users can verify
    any settlement on-chain via the explorer URLs returned by the `/markets/:id/onchain` endpoint.
  version: 1.0.0

servers:
  - url: https://api.vantic.xyz
    description: Production
  - url: http://localhost:8080
    description: Local development

security:
  - bearerAuth: []
  - masterApiKey: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    adminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
    masterApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: >
        Server-wide API key. Required on all routes when `API_MASTER_KEY` is set
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: >
        Alias for `masterApiKey`, used by operation-level route docs.
        in the server environment. Exempt routes: `GET /health`, `GET /docs*`.

  schemas:
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: "Invalid request"

    UserAdminStats:
      type: object
      properties:
        email: { type: string }
        username: { type: string }
        vant_id: { type: string }
        profile_image_url: { type: string }
        created_at: { type: string, format: date-time }
        balance: { type: number, description: Real USD balance }
        demo_balance: { type: number }
        total_orders: { type: integer }
        filled_orders: { type: integer }
        win_count: { type: integer }
        loss_count: { type: integer }
        open_positions: { type: integer }
        realized_pnl: { type: number }
        last_traded: { type: string, format: date-time, nullable: true }
        sol_public_key: { type: string, description: Solana custodial wallet address. Only present on single-user detail endpoint. }
        base_public_key: { type: string, description: Base custodial wallet address. Only present on single-user detail endpoint. }

    SuccessMessage:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string

    User:
      type: object
      properties:
        email:
          type: string
          format: email
          example: "user@example.com"
        username:
          type: string
          example: "tayo_trades"
        full_name:
          type: string
          example: "Tayo Adesanya"
        vant_id:
          type: string
          example: "VANT_8F2K9"
        balance_id:
          type: string
        socials:
          type: array
          items:
            type: string
        profile_image_url:
          type: string
        created_at:
          type: string
          format: date-time

    Wallet:
      type: object
      properties:
        account_id:
          type: string
        email:
          type: string
        sol_public_key:
          type: string
          example: "7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU"
        base_public_key:
          type: string
          example: "0x742d35Cc6634C0532925a3b8D4C9C9C9C9C9C9C9"

    Balance:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        total_usd:
          type: number
          description: Computed total real balance in USD
          example: 150.50
        total_demo_usd:
          type: number
          description: Computed total demo balance in USD
          example: 200.00
        usdc_sol:
          type: number
          description: USDC on Solana
        usdc_base:
          type: number
          description: USDC on Base
        usdt_sol:
          type: number
        usdg_sol:
          type: number
        pusd_sol:
          type: number
        sol:
          type: number
          description: Real SOL balance
        eth_base:
          type: number
          description: ETH on Base
        naira:
          type: number
          description: USD vault balance (real)
        demo_usdc_sol:
          type: number
        demo_sol:
          type: number
        demo_naira:
          type: number
          description: USD vault balance (demo)
        vusd:
          type: number
          description: Vantic virtual USD (used for prediction market positions)
        locked_balance:
          type: number
          description: Amount locked in open limit orders

    Transaction:
      type: object
      properties:
        id:
          type: string
          example: "TX_A8F3K2"
        user_email:
          type: string
        amount:
          type: number
          example: 50.00
        currency:
          type: string
          example: "USD"
        nature:
          type: string
          enum: [real, demo]
          example: "real"
        type:
          type: string
          enum: [deposit, sell, faucet, payout, withdrawal]
          example: "deposit"
        status:
          type: string
          enum: [completed, pending, failed]
          example: "completed"
        tx_hash:
          type: string
          description: Solana or EVM transaction hash, if applicable
        fee_amount:
          type: number
          description: Fee charged for this transaction in the same unit as `amount`
          example: 0.05
        fee_rate:
          type: number
          description: Applied fee rate as a decimal (e.g. 0.001 = 0.1%)
          example: 0.001
        fee_chain:
          type: string
          enum: [solana, base]
          description: Chain fee schedule used for this transaction
        fee_wallet:
          type: string
          description: Destination fee wallet address/pubkey used for this transaction
        created_at:
          type: string
          format: date-time

    Market:
      type: object
      properties:
        id:
          type: string
          example: "MKT_BTC_ABOVE_90K_2026042315"
        market_type:
          type: string
          enum: [CAPPM, GEM]
          example: "CAPPM"
        status:
          type: string
          enum: [active, resolved]
          example: "active"
        quote_currency:
          type: string
          example: "USD"
        title:
          type: string
          example: "Will BTC be above $90,000 at 3pm UTC?"
        description:
          type: string
        data_provider:
          type: string
          example: "Coinbase"
        creator_address:
          type: string
          description: Solana public key of the market creator
        market_pda:
          type: string
          description: Solana Program Derived Address for this market
        start_time_utc:
          type: string
          format: date-time
        end_time_utc:
          type: string
          format: date-time
        duration_seconds:
          type: integer
          example: 3600
        created_at:
          type: string
          format: date-time
        creation_tx_hash:
          type: string
          description: Solana tx hash of market creation
        asset:
          type: string
          description: CAPPM only — BTC, ETH, or SOL
          example: "BTC"
        direction:
          type: string
          description: CAPPM only
          enum: [Above, Below]
          example: "Above"
        target_price:
          type: integer
          description: CAPPM only — target price in cents (e.g. 9000000 = $90,000)
          example: 9000000
        current_price:
          type: integer
          description: CAPPM only — current price in cents at time of query
        outcome:
          type: string
          description: Resolved markets only
          enum: [YES, NO]
        outcome_description:
          type: string
        end_price:
          type: integer
          description: CAPPM only — price at settlement, in cents
        settlement_tx_hash:
          type: string
        resolved_at:
          type: string
          format: date-time
        asset_image:
          type: string
          description: CAPPM only — Cloudinary URL for the asset icon
          example: "https://res.cloudinary.com/vantic/image/upload/v1/assets/btc.png"
        market_image_small:
          type: string
          description: GEM only — Cloudinary URL for small market thumbnail
          example: "https://res.cloudinary.com/vantic/image/upload/v1/gems/nigeria-afcon-small.png"
        market_image_banner:
          type: string
          description: GEM only — Cloudinary URL for market banner image
          example: "https://res.cloudinary.com/vantic/image/upload/v1/gems/nigeria-afcon-banner.png"
        category:
          type: string
          description: Market category label. Always "crypto" for CAPPMs. Free-form for GEMs (e.g. "sports", "politics", "crypto"). Defaults to "general".
          example: "crypto"

    Order:
      type: object
      properties:
        id:
          type: string
          example: "ORD_7X2K9P"
        user_email:
          type: string
        market_id:
          type: string
        side:
          type: string
          enum: [YES, NO]
          example: "YES"
        type:
          type: string
          enum: [MARKET, LIMIT]
          example: "LIMIT"
        price:
          type: number
          description: Price per share in USD. For limit orders only. Between 0.01 and 99.99.
          example: 0.62
        quantity:
          type: number
          description: Number of shares
          example: 100
        filled_qty:
          type: number
          example: 50
        remaining_qty:
          type: number
          example: 50
        status:
          type: string
          enum: [OPEN, PARTIALLY_FILLED, FILLED, CANCELLED]
          example: "PARTIALLY_FILLED"
        quote_currency:
          type: string
          example: "USD"
        is_demo:
          type: boolean
          description: True if this order was placed using demo balance
          example: false
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          nullable: true

    Position:
      type: object
      properties:
        id:
          type: string
          example: "POS_4M8R2Q"
        user_email:
          type: string
        market_id:
          type: string
        side:
          type: string
          enum: [YES, NO]
          example: "YES"
        shares:
          type: number
          description: Number of shares held
          example: 150
        avg_entry_price:
          type: number
          description: Average price paid per share in USD
          example: 0.58
        realized_pnl:
          type: number
          description: Realized profit/loss in USD. Populated after settlement.
          example: 63.00
        payout_amount:
          type: number
          description: Total payout received at settlement ($1.00 per winning share)
          example: 150.00
        status:
          type: string
          enum: [ACTIVE, CLOSED, SETTLED]
          example: "ACTIVE"
        quote_currency:
          type: string
          example: "USD"
        is_demo:
          type: boolean
          description: True if this position was opened with demo balance
          example: false
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        settled_at:
          type: string
          format: date-time
          nullable: true

    OrderbookLevel:
      type: object
      properties:
        price:
          type: number
          description: Price per share in USD
          example: 0.62
        quantity:
          type: number
          description: Total shares available at this price
          example: 250
        orders:
          type: integer
          description: Number of distinct orders at this price level
          example: 3

    OrderbookSnapshot:
      type: object
      properties:
        market_id:
          type: string
        yes_bids:
          type: array
          description: Orders wanting to buy YES shares, best price first
          items:
            $ref: '#/components/schemas/OrderbookLevel'
        yes_asks:
          type: array
          description: Orders wanting to sell YES shares, lowest ask first
          items:
            $ref: '#/components/schemas/OrderbookLevel'
        no_bids:
          type: array
          items:
            $ref: '#/components/schemas/OrderbookLevel'
        no_asks:
          type: array
          items:
            $ref: '#/components/schemas/OrderbookLevel'
        last_traded_price:
          type: number
          description: Price of the most recent fill on this market
          example: 0.61
        spread:
          type: number
          description: Difference between best YES ask and best YES bid
          example: 0.02
        fetched_at:
          type: string
          format: date-time

    CandlePoint:
      type: object
      properties:
        time:
          type: integer
          description: Candle open time as Unix timestamp
          example: 1714123200
        open:
          type: number
          example: 90100.00
        high:
          type: number
          example: 90450.00
        low:
          type: number
          example: 89900.00
        close:
          type: number
          example: 90320.00
        volume:
          type: number
          example: 134.52

    TrendPoint:
      type: object
      properties:
        time:
          type: integer
          description: Bucket start time as Unix timestamp
          example: 1714123200
        yes_volume:
          type: number
          description: Total YES shares filled in this time bucket
          example: 320.5
        no_volume:
          type: number
          description: Total NO shares filled in this time bucket
          example: 180.0

    FillPreview:
      type: object
      properties:
        side:
          type: string
          enum: [YES, NO]
          example: "YES"
        stake:
          type: number
          description: Dollar amount the user wants to spend
          example: 10.00
        avg_price:
          type: number
          description: Weighted average fill price per share in USD
          example: 0.63
        estimated_shares:
          type: number
          description: How many shares the stake would buy at current book depth
          example: 15.87
        fills_completely:
          type: boolean
          description: Whether the full stake can be filled from the current orderbook
          example: true
        total_cost:
          type: number
          description: Total cost consumed from the orderbook (may be less than stake if partial fill)
          example: 10.00

    ExecutableQuote:
      type: object
      properties:
        id:
          type: string
          example: "QTE_20260428153045000000000"
        market_id:
          type: string
        side:
          type: string
          enum: [YES, NO]
        stake:
          type: number
          example: 10.00
        avg_price:
          type: number
          example: 0.63
        estimated_shares:
          type: number
          example: 15.87
        fills_completely:
          type: boolean
          example: true
        total_cost:
          type: number
          example: 10.00
        expires_at:
          type: string
          format: date-time

    TradeEntry:
      type: object
      properties:
        id:
          type: string
          description: Order ID of the fill
          example: "ORD_7X2K9P"
        side:
          type: string
          enum: [YES, NO]
          example: "YES"
        price:
          type: number
          description: Price per share the order was placed at, in USD
          example: 0.62
        quantity:
          type: number
          description: Number of shares filled
          example: 50
        filled_at:
          type: string
          format: date-time

    OnchainMarket:
      type: object
      description: Raw market state read directly from the Solana contract account
      properties:
        MarketID:
          type: string
        MarketType:
          type: integer
          description: "0 = CAPPM, 1 = GEM"
        IsResolved:
          type: boolean
        Creator:
          type: string
          description: Solana public key
        ApprovedSettler:
          type: string
          description: Solana public key of the approved settler
        Title:
          type: string
        Description:
          type: string
        StartTimeUTC:
          type: integer
          description: Unix timestamp
        EndTimeUTC:
          type: integer
          description: Unix timestamp
        DurationSeconds:
          type: integer
        DataProvider:
          type: string
        CreatedAt:
          type: integer
          description: Unix timestamp
        Asset:
          type: string
        Direction:
          type: integer
          nullable: true
          description: "0 = Above, 1 = Below (CAPPM only)"
        TargetPrice:
          type: integer
          nullable: true
          description: Target price in cents (CAPPM only)
        CurrentPrice:
          type: integer
          nullable: true
        EndPrice:
          type: integer
          nullable: true
        Outcome:
          type: integer
          nullable: true
          description: "0 = YES, 1 = NO"
        OutcomeDescription:
          type: string

    VSEventParticipant:
      type: object
      properties:
        id: { type: string }
        vs_event_id: { type: string }
        user_email: { type: string, format: email }
        joined_at: { type: string, format: date-time }
        locked_amount: { type: number, example: 25.0 }
        confirmation:
          type: string
          enum: ["", YES, NO]
        confirmed_at:
          type: string
          format: date-time
          nullable: true

    VSEvent:
      type: object
      properties:
        id: { type: string, example: "VS_A1B2C3D4" }
        title: { type: string }
        description: { type: string }
        creator_email: { type: string, format: email }
        is_demo:
          type: boolean
          description: true for demo VS event, false for real
        mode:
          type: string
          enum: [mutual, consensus]
        threshold:
          type: integer
          description: Confirmation threshold for consensus mode
        stake_amount:
          type: number
          description: Stake per participant, in USD
          example: 25
        participant_target:
          type: integer
          example: 2
        status:
          type: string
          enum: [open, active, resolved, cancelled, disputed]
        outcome:
          type: string
          enum: ["", YES, NO]
        outcome_description:
          type: string
        creation_tx_hash:
          type: string
        settlement_tx_hash:
          type: string
        chain_state:
          type: string
          description: Optimistic chain synchronization status; may move through pending/failed states before terminal chain confirmation
        join_deadline_utc:
          type: string
          format: date-time
        resolve_deadline_utc:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
          nullable: true
        participants:
          type: array
          items:
            $ref: '#/components/schemas/VSEventParticipant'

    PriceMap:
      type: object
      description: Map of asset ticker to price data
      additionalProperties:
        type: object
        properties:
          price:
            type: number
            description: Current price in USD
            example: 90000.00
          change_24h:
            type: number
            description: 24h percentage change
            example: 2.5
      example:
        BTC:
          price: 90000.00
          change_24h: 2.5
        ETH:
          price: 3200.00
          change_24h: -1.2
        SOL:
          price: 185.00
          change_24h: 5.0

paths:
  # ── Health ────────────────────────────────────────────────────────────────

  /health:
    get:
      tags: [Health]
      summary: Health check
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"

  # ── Auth ─────────────────────────────────────────────────────────────────

  /auth/exists:
    post:
      tags: [Auth]
      summary: Check if email is registered
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  exists:
                    type: boolean
        '400':
          description: Invalid email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/username/exists:
    post:
      tags: [Auth]
      summary: Check if username is taken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
      responses:
        '200':
          description: Check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  exists:
                    type: boolean
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth:
    post:
      tags: [Auth]
      summary: Login or register
      description: |
        Single endpoint for both login and registration. If the email doesn't exist,
        a new account is created automatically. Returns a JWT token on success.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Authenticated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Login successful"
                  token:
                    type: string
                    description: JWT bearer token
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          description: Invalid payload or wrong password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/username:
    post:
      tags: [Auth]
      summary: Set or update username
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  minLength: 3
                  maxLength: 30
      responses:
        '200':
          description: Username updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          description: Username taken or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout (invalidate token server-side)
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'

  # ── Waitlist ──────────────────────────────────────────────────────────────

  /waitlist:
    post:
      tags: [Waitlist]
      summary: Join the waitlist
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                referral_code:
                  type: string
                  description: Optional referral code from an existing waitlist member
      responses:
        '200':
          description: Joined or already on waitlist
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ── Prices ────────────────────────────────────────────────────────────────

  /prices:
    get:
      tags: [Prices]
      summary: Live BTC, ETH, SOL prices
      security: []
      responses:
        '200':
          description: Latest prices
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  prices:
                    $ref: '#/components/schemas/PriceMap'

  /prices/vant:
    get:
      tags: [Prices]
      summary: Vantic-internal prices with buy rate
      security: []
      responses:
        '200':
          description: Prices with Vantic buy rate
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  buy_rate:
                    type: number
                    description: Naira to USD rate used internally
                    example: 1.0
                  prices:
                    $ref: '#/components/schemas/PriceMap'

  /prices/vant/{asset}:
    get:
      tags: [Prices]
      summary: Price for a single asset
      security: []
      parameters:
        - name: asset
          in: path
          required: true
          schema:
            type: string
            enum: [sol, btc, eth]
          example: btc
      responses:
        '200':
          description: Asset price in USD
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  asset:
                    type: string
                  price:
                    type: number
                    example: 90000.00
        '404':
          description: Asset not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /prices/tokens:
    get:
      tags: [Prices]
      summary: Jupiter live token prices
      description: |
        Fetches USD prices from the Jupiter Price API (v3) for one or more tokens.
        Accepts ticker symbols; internally resolves to mainnet mint addresses.

        Supported tickers: `SOL`, `USDC`, `USDT`, `USDG`, `ETH` (Wormhole-bridged ETH on Solana).
        `USDC_BASE` and `ETH_BASE` resolve to the same mints as `USDC` and `ETH` respectively.
      security: []
      parameters:
        - name: tickers
          in: query
          schema:
            type: string
          description: Comma-separated ticker list. Defaults to SOL,USDC,USDT,USDG,ETH
          example: "SOL,USDC,ETH"
      responses:
        '200':
          description: Prices keyed by ticker
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  prices:
                    type: object
                    additionalProperties:
                      type: number
                    example:
                      SOL: 148.50
                      USDC: 1.00
                      ETH: 2450.00
        '500':
          description: Jupiter API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'


  # ── User ─────────────────────────────────────────────────────────────────

  /user:
    get:
      tags: [User]
      summary: Get current user profile and wallet
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  user:
                    $ref: '#/components/schemas/User'
                  wallet:
                    $ref: '#/components/schemas/Wallet'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags: [User]
      summary: Update user profile
      description: |
        Updatable fields: `username`, `socials`, `profile_image_url`, `full_name`.
        Other fields in the body are silently ignored.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                full_name:
                  type: string
                socials:
                  type: array
                  items:
                    type: string
                profile_image_url:
                  type: string
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          description: No valid fields / validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /user/profile-image:
    post:
      tags: [User]
      summary: Upload profile image
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
      responses:
        '200':
          description: Image uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  profile_image_url:
                    type: string
        '400':
          description: No image provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ── Balance ───────────────────────────────────────────────────────────────

  /balance:
    get:
      tags: [Balance]
      summary: Get user balance
      description: Returns all asset balances. `total_usd` and `total_demo_usd` are computed from
        spot prices at query time.
      responses:
        '200':
          description: Balance object
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  balance:
                    $ref: '#/components/schemas/Balance'
        '404':
          description: Balance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /balance/sync:
    get:
      tags: [Balance]
      summary: Sync on-chain balances to Firestore
      description: Fetches live SOL and SPL token balances from Solana and updates the stored balance.
        Returns updated balance object.
      responses:
        '200':
          description: Synced balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  balance:
                    $ref: '#/components/schemas/Balance'
        '404':
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /balance/wsol:
    get:
      tags: [Balance]
      summary: Get WSOL balances for user wallet on devnet and mainnet
      description: |
        Returns live wrapped SOL balances from Solana token accounts for the authenticated
        user's custodial SOL wallet on both devnet and mainnet.
      responses:
        '200':
          description: WSOL balances
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  wallet:
                    type: string
                  wsol:
                    type: object
                    properties:
                      devnet:
                        type: number
                      mainnet:
                        type: number
        '404':
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /balance/sell:
    post:
      tags: [Balance]
      summary: Sell an asset for USD
      description: |
        Converts a crypto asset to USD in the user's vault balance.
        For SOL assets, this triggers an on-chain transfer to the Vantic vault.
        For Base assets, this triggers an on-chain transfer to the Base vault.
        The operation is asynchronous — the response is immediate but the balance
        credit happens in a background goroutine.

        Sell fees:
        - Solana assets: 0.09%
        - Base assets: 0.1%

        **Assets:** `sol`, `eth_base`, `usdc_sol`, `usdc_base`, `demo_sol`, `demo_usdc_sol`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset, amount, nature]
              properties:
                asset:
                  type: string
                  enum: [sol, eth_base, usdc_sol, usdc_base, demo_sol, demo_usdc_sol]
                  example: "usdc_sol"
                amount:
                  type: number
                  example: 50.0
                nature:
                  type: string
                  enum: [real, demo]
                  example: "real"
      responses:
        '200':
          description: Sell initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          description: Insufficient balance or invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /balance/withdraw:
    post:
      tags: [Balance]
      summary: Withdraw USD vault balance to an external wallet
      description: |
        Deducts from the user's USD vault balance and sends funds to the specified
        destination address.

        The response is immediate. The on-chain transfer happens asynchronously in
        the background. If the transfer fails, the deducted amount is automatically
        reversed. A `BALANCE_UPDATE` WebSocket event is broadcast on completion.

        Withdrawal fees:
        - Solana destination: 0%
        - Base destination: 0.5%
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, destination_address]
              properties:
                amount:
                  type: number
                  description: Amount in USD to withdraw
                  example: 50.00
                destination_address:
                  type: string
                  description: Destination wallet address (Solana pubkey or Base EVM address)
                  example: "7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU"
      responses:
        '200':
          description: Withdrawal initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Withdrawal initiated"
        '400':
          description: Insufficient balance or invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /balance/withdraw/asset:
    post:
      tags: [Balance]
      summary: Withdraw a custodial wallet asset to an external address
      description: |
        Transfers an asset directly from the user's custodial wallet to a destination address.
        Supports SOL, USDC/USDT/USDG on Solana, WSOL, ETH on Base, and USDC on Base.

        The response is immediate. The on-chain transfer happens asynchronously.
        If the transfer fails, any deducted balance is automatically reversed.
        A `BALANCE_UPDATE` WebSocket event is broadcast on completion.

        **WSOL note:** WSOL is an SPL token (wrapped SOL). Its balance is read live from
        on-chain at request time rather than from the stored balance object.

        Supported assets:
        - `sol` — Native SOL (Solana)
        - `usdc_sol` — USDC on Solana
        - `usdt_sol` — USDT on Solana
        - `usdg_sol` — USDG on Solana
        - `pusd_sol` — Palm USD on Solana
        - `wsol` — Wrapped SOL (SPL token, devnet or mainnet based on cluster)
        - `eth_base` — ETH on Base
        - `usdc_base` — USDC on Base

        Withdrawal fees:
        - Solana assets: 0%
        - Base assets: 0.5%
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset, amount, destination_address]
              properties:
                asset:
                  type: string
                  enum: [sol, usdc_sol, usdt_sol, usdg_sol, pusd_sol, wsol, eth_base, usdc_base]
                  example: "pusd_sol"
                amount:
                  type: number
                  description: Gross amount to withdraw (fee deducted from this)
                  example: 10.00
                destination_address:
                  type: string
                  description: Destination wallet address. Must be a Solana pubkey for Solana assets, 0x address for Base assets.
                  example: "7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU"
      responses:
        '200':
          description: Asset withdrawal initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Asset withdrawal initiated"
                  asset:
                    type: string
                    example: "usdc_sol"
                  gross_amount:
                    type: number
                    example: 10.00
                  fee_amount:
                    type: number
                    example: 0.00
                  net_amount:
                    type: number
                    example: 10.00
                  destination:
                    type: string
                  fee_wallet:
                    type: string
        '400':
          description: Insufficient balance, unsupported asset, or address mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /demo/fund:
    post:
      tags: [Balance]
      summary: Fund demo account via faucet
      description: |
        Transfers SOL from the Vantic devnet faucet to the user's demo wallet.
        Maximum $200 USD per request. User must have less than $1.00 demo balance to request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  type: number
                  description: Amount in USD (max 200)
                  example: 100
      responses:
        '200':
          description: Demo account funded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  tx_hash:
                    type: string
                    description: Solana devnet transaction hash
        '400':
          description: Over limit or already funded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ── Transactions ──────────────────────────────────────────────────────────

  /transactions:
    get:
      tags: [Transactions]
      summary: Get transaction history
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'

  /transactions/email:
    post:
      tags: [Transactions]
      summary: Resend transaction confirmation email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction'
      responses:
        '200':
          description: Email queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'

  # ── Markets ───────────────────────────────────────────────────────────────

  /markets:
    get:
      tags: [Markets]
      summary: List markets
      security: []
      description: |
        Query markets with optional filters. Default returns active markets.
        - `?type=CAPPM&status=active` → active crypto price markets (Crypto tab)
        - `?type=GEM&status=active` → active general event markets (General tab)
        - `?status=resolved` → all resolved markets (History)
        - `?asset=BTC` → all CAPPM markets for BTC
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [CAPPM, GEM]
          description: Filter by market type
        - name: status
          in: query
          schema:
            type: string
            enum: [active, resolved]
          description: Filter by status
        - name: asset
          in: query
          schema:
            type: string
            enum: [BTC, ETH, SOL]
          description: Filter CAPPM markets by asset
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Markets list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  markets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Market'
                  count:
                    type: integer

  /markets/{id}:
    get:
      tags: [Markets]
      summary: Get a single market
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Market detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  market:
                    $ref: '#/components/schemas/Market'
        '404':
          description: Market not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /markets/{id}/orderbook:
    get:
      tags: [Markets]
      summary: Get full orderbook snapshot for a market
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Orderbook snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  orderbook:
                    $ref: '#/components/schemas/OrderbookSnapshot'

  /markets/{id}/orderbook/depth:
    get:
      tags: [Markets]
      summary: Get orderbook depth (bids + asks for one side)
      description: |
        Returns the top N price levels for a single side (YES or NO).
        Also returns the current spread and last traded price.
        For real-time updates, use the WebSocket endpoint `GET /ws/markets/:id/orderbook`.
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: side
          in: query
          schema:
            type: string
            enum: [YES, NO]
            default: YES
        - name: levels
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
          description: Number of price levels to return on each side
      responses:
        '200':
          description: Depth data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  market_id:
                    type: string
                  side:
                    type: string
                    enum: [YES, NO]
                  bids:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderbookLevel'
                  asks:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderbookLevel'
                  spread:
                    type: number
                    example: 0.02
                  last_traded_price:
                    type: number
                    example: 0.61

  /markets/{id}/candles:
    get:
      tags: [Markets]
      summary: Get OHLCV candle data for a market's underlying asset
      description: |
        Returns candlestick data sourced from Coinbase for the asset tied to this market.
        The candle interval adapts to market duration:
        - Market ≤ 5 min → 1-minute candles
        - Market ≤ 15 min → 5-minute candles
        - Market > 15 min → 15-minute candles

        Up to 200 candles are returned, covering recent price history.
        `interval_seconds` in the response tells the frontend the width of each candle.
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Candle array
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  market_id:
                    type: string
                  interval_seconds:
                    type: integer
                    description: Duration of each candle in seconds (60, 300, or 900)
                    example: 60
                  candles:
                    type: array
                    items:
                      $ref: '#/components/schemas/CandlePoint'
                  count:
                    type: integer
        '500':
          description: Failed to fetch from Coinbase
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /markets/{id}/opinion-trend:
    get:
      tags: [Markets]
      summary: Get YES/NO opinion trend over the market's lifetime
      description: |
        Returns a time-series of YES and NO share volume bucketed into intervals.
        The bucket size adapts to market duration:
        - Market ≤ 5 min → 30-second buckets
        - Market ≤ 15 min → 60-second buckets
        - Market ≤ 1 hr → 5-minute buckets
        - Market > 1 hr → 15-minute buckets

        Use this to render the opinion trend line chart showing how trader sentiment
        has shifted over time.
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Trend time-series
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  market_id:
                    type: string
                  trend:
                    type: array
                    items:
                      $ref: '#/components/schemas/TrendPoint'
                  count:
                    type: integer

  /markets/{id}/quote:
    get:
      tags: [Markets]
      summary: Get a fill preview for a given stake amount
      description: |
        Reads the live in-memory orderbook and calculates what you would get if you
        placed an order right now. No order is created. Use this before `POST /orders`
        to show the user their estimated fill.

        **Quantity note:** `POST /orders` takes `quantity` in **shares**, not dollars.
        Use `estimated_shares` from this response as `quantity` for a market order.
        For a limit order at price `P`: `quantity = stake / P`.
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: side
          in: query
          required: true
          schema:
            type: string
            enum: [YES, NO]
        - name: stake
          in: query
          required: true
          schema:
            type: number
          description: Dollar amount the user wants to spend
          example: 10.00
      responses:
        '200':
          description: Fill preview
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  preview:
                    $ref: '#/components/schemas/FillPreview'
        '400':
          description: Invalid side or stake
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [Orders]
      summary: Reserve an executable quote
      description: |
        Reserves live executable liquidity for a short TTL so the user can accept a
        locked quote without being repriced by intervening book changes. This is the
        authenticated version of the quote flow.

        Risk controls apply:
        - per-quote max guaranteed stake
        - per-market guaranteed capacity
        - per-side reserved share caps
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [side, stake]
              properties:
                side:
                  type: string
                  enum: [YES, NO]
                stake:
                  type: number
                  description: Dollar amount to reserve against current depth
                  example: 10.00
      responses:
        '200':
          description: Executable quote reserved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  quote:
                    $ref: '#/components/schemas/ExecutableQuote'
        '400':
          description: Validation error, risk-limit rejection, or insufficient liquidity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /markets/{id}/quote/accept:
    post:
      tags: [Orders]
      summary: Accept a reserved executable quote
      description: |
        Accepts a previously reserved quote before its expiry and executes against the
        exact reserved liquidity slices. This is the guaranteed-fill path for bounded
        order sizes while the quote is still live.

        Risk controls apply:
        - per-user quote acceptance rate limit
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quote_id]
              properties:
                quote_id:
                  type: string
                is_demo:
                  type: boolean
      responses:
        '200':
          description: Reserved quote executed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  quote:
                    $ref: '#/components/schemas/ExecutableQuote'
                  order:
                    $ref: '#/components/schemas/Order'
        '400':
          description: Quote expired, invalid, rate-limited, or insufficient balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /markets/{id}/trades:
    get:
      tags: [Markets]
      summary: Get recent trades for a market
      description: |
        Returns the most recent filled orders for this market, sorted newest first.
        User emails are not exposed. Use this to render the public trade history table
        alongside the orderbook.
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Recent trades
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  market_id:
                    type: string
                  trades:
                    type: array
                    items:
                      $ref: '#/components/schemas/TradeEntry'
                  count:
                    type: integer

  /markets/{id}/onchain:
    get:
      tags: [OVM]
      summary: Get raw on-chain state for a market (OVM)
      description: |
        Returns both the Postgres record and the raw Solana account state.
        Users can cross-reference the outcome with any Solana explorer using the
        `explorer_urls` in the response to verify settlement independently.
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: On-chain market state
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  market:
                    $ref: '#/components/schemas/Market'
                  onchain:
                    $ref: '#/components/schemas/OnchainMarket'
                  explorer_urls:
                    type: object
                    properties:
                      creation:
                        type: string
                        description: Solana explorer URL for the creation transaction
                      settlement:
                        type: string
                        description: Solana explorer URL for the settlement transaction
                        nullable: true
                      account:
                        type: string
                        description: Solana explorer URL for the market PDA account
        '404':
          description: Market not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /markets/onchain:
    get:
      tags: [OVM]
      summary: List all markets with on-chain state
      security: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, resolved]
      responses:
        '200':
          description: On-chain markets list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  markets:
                    type: array
                    items:
                      $ref: '#/components/schemas/OnchainMarket'
                  count:
                    type: integer

  # ── Orders ────────────────────────────────────────────────────────────────

  /orders:
    post:
      tags: [Orders]
      summary: Place an order
      description: |
        Places a limit or market order on a prediction market.

        **Limit order:** Specify `price` (0.01–99.99 USD per share). Order sits in the
        book until matched or cancelled. The required cost (`price × quantity`) is
        locked from your available balance immediately.

        **Market order:** Executes immediately against the best available prices.
        No `price` field needed. Eats through the orderbook until filled or liquidity runs out.

        Both sides are always available: YES (betting the outcome is YES) and
        NO (betting the outcome is NO). YES + NO fills in any market always total $1.00.

        **`quantity` is always shares, not dollars.** To convert a dollar stake to shares,
        call `GET /markets/{id}/quote?side=YES&stake=<amount>` first and use
        `estimated_shares` as `quantity`. For limit orders: `quantity = stake / price`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [market_id, side, type, quantity]
              properties:
                market_id:
                  type: string
                side:
                  type: string
                  enum: [YES, NO]
                type:
                  type: string
                  enum: [LIMIT, MARKET]
                price:
                  type: number
                  description: Required for LIMIT orders. USD per share, between 0.01–99.99.
                  example: 0.62
                quantity:
                  type: number
                  description: Number of shares
                  example: 100
                is_demo:
                  type: boolean
                  description: |
                    Set to `true` to place the order using demo balance (`demo_naira`).
                    Omit or set `false` for real balance. Demo and real orders share the
                    same orderbook — they can match against each other.
                  example: false
                expires_at:
                  type: integer
                  description: Optional Unix timestamp for order expiry (limit orders only)
      responses:
        '200':
          description: Order placed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  order:
                    $ref: '#/components/schemas/Order'
        '400':
          description: Insufficient balance, invalid market, or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      tags: [Orders]
      summary: Get user's orders
      parameters:
        - name: market_id
          in: query
          schema:
            type: string
          description: Optional — filter by market
      responses:
        '200':
          description: User's orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  count:
                    type: integer

  /markets/{id}/buy:
    post:
      tags: [Orders]
      summary: Buy YES or NO shares in a market
      description: |
        Thin wrapper over `POST /orders` that infers the market from the path.
        Use this for product-level buy flows. The request body is the same as `POST /orders`
        except `market_id` is omitted because it comes from the URL.
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [side, type, quantity]
              properties:
                side:
                  type: string
                  enum: [YES, NO]
                type:
                  type: string
                  enum: [LIMIT, MARKET]
                price:
                  type: number
                quantity:
                  type: number
                is_demo:
                  type: boolean
                expires_at:
                  type: integer
      responses:
        '200':
          description: Order placed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  order:
                    $ref: '#/components/schemas/Order'

  /markets/{id}/sell:
    post:
      tags: [Orders]
      summary: Sell (close) YES or NO position shares in a market
      description: |
        Product-level sell endpoint. This closes an existing active position for the caller.
        It does not create a new opposite-side order.
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [position_id]
              properties:
                position_id:
                  type: string
                  description: ID of the active position to close
                shares:
                  type: number
                  description: Optional partial close quantity. Defaults to full position.
      responses:
        '200':
          description: Position sold/closed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  position:
                    $ref: '#/components/schemas/Position'
                  proceeds:
                    type: number

  /positions/{id}/close:
    post:
      tags: [Orders]
      summary: Close an active position
      description: |
        Closes an active YES or NO position by realizing it against the current market mark.
        If `shares` is omitted, the full position is closed. This is the primitive for
        "close my YES position" and "close my NO position" flows.
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                shares:
                  type: number
                  description: Optional number of shares to close. Defaults to the full position.
      responses:
        '200':
          description: Position closed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  position:
                    $ref: '#/components/schemas/Position'
                  proceeds:
                    type: number

  /orders/{id}:
    delete:
      tags: [Orders]
      summary: Cancel an order
      description: Cancels an open or partially-filled order. Locked balance is released immediately.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  order_id:
                    type: string
        '400':
          description: Order not found or already filled/cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /positions:
    get:
      tags: [Orders]
      summary: Get user's positions
      description: Returns all active, closed, and settled positions. A position is created when
        an order is matched. At market settlement, settled positions are credited $1.00 per
        winning share.
      parameters:
        - name: market_id
          in: query
          schema:
            type: string
          description: Optional — filter by market
      responses:
        '200':
          description: User's positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  positions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Position'
                  count:
                    type: integer

  # ── Admin ─────────────────────────────────────────────────────────────────

  /admin/markets/gem:
    post:
      tags: [Admin]
      summary: Create a GEM market
      security:
        - adminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, description, data_provider, start_time_utc, duration_seconds]
              properties:
                title:
                  type: string
                  example: "Will Nigeria win the AFCON final?"
                description:
                  type: string
                data_provider:
                  type: string
                  example: "ESPN"
                start_time_utc:
                  type: integer
                  description: Unix timestamp
                duration_seconds:
                  type: integer
                  description: Market duration from start_time_utc
                  example: 7200
                market_image_small:
                  type: string
                  description: Cloudinary URL for small market thumbnail
                  example: "https://res.cloudinary.com/vantic/image/upload/v1/gems/nigeria-afcon-small.png"
                market_image_banner:
                  type: string
                  description: Cloudinary URL for market banner image
                  example: "https://res.cloudinary.com/vantic/image/upload/v1/gems/nigeria-afcon-banner.png"
                category:
                  type: string
                  description: Free-form category label (e.g. "sports", "politics", "crypto"). Defaults to "general" if omitted.
                  example: "sports"
      responses:
        '200':
          description: GEM created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  market:
                    $ref: '#/components/schemas/Market'
        '401':
          description: Unauthorized — invalid admin key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/markets/{id}/settle:
    post:
      tags: [Admin]
      summary: Settle a GEM market
      security:
        - adminKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [outcome, outcome_description]
              properties:
                outcome:
                  type: string
                  enum: [YES, NO]
                outcome_description:
                  type: string
                  example: "Nigeria won 2-1"
      responses:
        '200':
          description: Market settled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  market_id:
                    type: string
                  outcome:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/markets/{id}/force-settle:
    post:
      tags: [Admin]
      summary: Force-settle any market and trigger payout distribution
      description: |
        For GEM markets only. CAPPM markets auto-settle from Coinbase price data.
        This endpoint settles the market on-chain AND processes payouts to all winning positions.
      security:
        - adminKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [outcome, outcome_description]
              properties:
                outcome:
                  type: string
                  enum: [YES, NO]
                outcome_description:
                  type: string
      responses:
        '200':
          description: Market force-settled and payouts distributed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    description: Settlement processing result with payout summary
        '400':
          description: Already resolved or CAPPM market
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/markets/{id}/sync:
    post:
      tags: [Admin]
      summary: Re-sync market state from Solana
      security:
        - adminKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Market synced
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  market:
                    $ref: '#/components/schemas/Market'

  /admin/markets:
    get:
      tags: [Admin]
      summary: List all markets (admin view)
      security:
        - adminKey: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, resolved]
            default: active
        - name: type
          in: query
          schema:
            type: string
            enum: [CAPPM, GEM]
      responses:
        '200':
          description: All markets
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  markets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Market'
                  count:
                    type: integer

  /admin/markets/{id}/stats:
    get:
      tags: [Admin]
      summary: Get market stats (volume, open interest, traders)
      security:
        - adminKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Market statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  market:
                    $ref: '#/components/schemas/Market'
                  stats:
                    type: object
                    properties:
                      open_order_count:
                        type: integer
                      open_interest:
                        type: number
                        description: Total value in open orders (USD)
                      yes_open_interest:
                        type: number
                      no_open_interest:
                        type: number
                      total_shares:
                        type: number
                      yes_shares:
                        type: number
                      no_shares:
                        type: number
                      unique_traders:
                        type: integer
                      last_traded_price:
                        type: number
                      implied_yes_pct:
                        type: number
                        description: Implied probability of YES outcome (0–100)
                      quote_currency:
                        type: string

  /admin/orders:
    get:
      tags: [Admin]
      summary: Get all orders for a market
      security:
        - adminKey: []
      parameters:
        - name: market_id
          in: query
          required: true
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [OPEN, PARTIALLY_FILLED, FILLED, CANCELLED]
      responses:
        '200':
          description: Orders list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  count:
                    type: integer

  /admin/users/{email}/exposure:
    get:
      tags: [Admin]
      summary: Get a user's total risk exposure across all markets
      security:
        - adminKey: []
      parameters:
        - name: email
          in: path
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: User exposure summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  user_email:
                    type: string
                  active_markets:
                    type: integer
                  total_locked_in_orders:
                    type: number
                    description: Total USD locked across all open limit orders
                  exposure:
                    type: array
                    items:
                      type: object
                      properties:
                        market_id:
                          type: string
                        yes_shares:
                          type: number
                        no_shares:
                          type: number
                        avg_entry_yes:
                          type: number
                        avg_entry_no:
                          type: number
                        open_orders_value:
                          type: number
                        quote_currency:
                          type: string

  /admin/upload:
    post:
      tags: [Admin]
      summary: Upload an image to Cloudinary
      description: Accepts a multipart image file and uploads it to Cloudinary. Returns the secure URL to store on a market.
      security:
        - adminKey: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
                  description: Image file to upload
                folder:
                  type: string
                  description: Cloudinary folder. Defaults to vant_markets.
                  example: "vant_markets"
      responses:
        '200':
          description: Upload successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  url:
                    type: string
                    description: Secure Cloudinary URL of the uploaded image
                    example: "https://res.cloudinary.com/vantic/image/upload/v1/vant_markets/1714123200000.png"
        '400':
          description: No image provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized — invalid admin key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/markets/cappm:
    post:
      tags: [Admin]
      summary: Create a CAPPM market manually
      description: |
        Creates a Crypto Asset Price Prediction Market. The backend automatically fetches the
        current price, calculates a target using momentum, and generates the market title/description.
        Only `asset`, `duration_seconds`, `start_time_utc`, and `asset_image` are required.
      security:
        - adminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset, duration_seconds]
              properties:
                asset:
                  type: string
                  enum: [BTC, ETH, SOL]
                  example: "BTC"
                duration_seconds:
                  type: integer
                  description: Market duration from start_time_utc
                  example: 300
                start_time_utc:
                  type: integer
                  description: Unix timestamp. Defaults to now if omitted.
                  example: 1714123200
                asset_image:
                  type: string
                  description: Cloudinary URL for the asset icon
                  example: "https://res.cloudinary.com/vantic/image/upload/v1/assets/btc.png"
      responses:
        '200':
          description: CAPPM created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  market:
                    $ref: '#/components/schemas/Market'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized — invalid admin key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/cappm/status:
    get:
      tags: [Admin]
      summary: Get CAPPM auto-curation status
      description: Returns whether the backend is auto-creating CAPPM markets on a schedule.
      security:
        - adminKey: []
      responses:
        '200':
          description: Auto-curation status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  enabled:
                    type: boolean
                    description: True when ENABLE_AUTO_CURATED_CAPPMS=true in server env
                    example: false
                  mode:
                    type: string
                    enum: [AUTO_CREATION, SETTLEMENT_ONLY]
                    description: AUTO_CREATION when enabled; SETTLEMENT_ONLY when disabled
                    example: "SETTLEMENT_ONLY"
        '401':
          description: Unauthorized — invalid admin key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/overview:
    get:
      tags: [Admin]
      summary: Platform overview metrics
      description: Returns aggregate counts and TVL figures for the whole platform.
      security:
        - adminKey: []
      responses:
        '200':
          description: Platform metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  users:
                    type: integer
                    description: Total registered users
                    example: 1240
                  markets:
                    type: integer
                    description: All-time total markets
                    example: 87
                  active_markets:
                    type: integer
                    description: Currently active (unresolved) markets
                    example: 12
                  orders:
                    type: integer
                    description: All-time total orders placed
                    example: 34500
                  transactions:
                    type: integer
                    description: All-time total transactions
                    example: 9800
                  tvl_real:
                    type: number
                    description: Total real USD held in user balances
                    example: 52000.00
                  tvl_demo:
                    type: number
                    description: Total demo USD held in user balances
                    example: 180000.00
                  total_locked:
                    type: number
                    description: Total USD locked in open limit orders across all users
                    example: 7400.00
        '401':
          description: Unauthorized — invalid admin key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/users:
    get:
      tags: [Admin]
      summary: List all users with trading stats
      security:
        - adminKey: []
      parameters:
        - in: query
          name: q
          schema: { type: string }
          description: Search by email, username, or Vant ID (ILIKE)
        - in: query
          name: sort
          schema: { type: string, enum: [balance, win_rate, last_traded] }
          description: Sort field. Omit for newest-first.
        - in: query
          name: page
          schema: { type: integer, default: 1 }
      responses:
        '200':
          description: Paginated user list with stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  users: { type: array, items: { $ref: '#/components/schemas/UserAdminStats' } }
                  total: { type: integer }
                  page: { type: integer }
                  pages: { type: integer }
        '401':
          description: Unauthorized

  /admin/users/{email}:
    get:
      tags: [Admin]
      summary: Get a single user's full stats
      security:
        - adminKey: []
      parameters:
        - in: path
          name: email
          required: true
          schema: { type: string }
      responses:
        '200':
          description: User stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  user: { $ref: '#/components/schemas/UserAdminStats' }
        '404':
          description: User not found

  /admin/cappm/price:
    get:
      tags: [Admin]
      summary: Fetch historical asset price at a specific timestamp
      description: Returns the close price of the 1-minute candle containing the given timestamp, sourced from the Coinbase Advanced Trade API (per-minute precision). Use this to get the correct settlement price for a stuck CAPPM market.
      security:
        - adminKey: []
      parameters:
        - in: query
          name: asset
          required: true
          schema: { type: string, enum: [BTC, ETH, SOL] }
        - in: query
          name: at
          required: true
          schema: { type: string }
          description: RFC3339 timestamp — use the market's end_time_utc value directly
          example: "2026-04-25T15:38:42Z"
      responses:
        '200':
          description: Price at that timestamp
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  asset: { type: string }
                  at: { type: string }
                  price_cents: { type: integer, example: 7771230 }
                  price_usd: { type: string, example: "77712.30" }
        '400':
          description: Missing or malformed parameters
        '502':
          description: Coinbase API unreachable or returned no candle data

  /admin/markets/{id}/cappm-settle:
    post:
      tags: [Admin]
      summary: Force-settle a stuck CAPPM market
      description: Manually triggers on-chain settlement for a CAPPM market the auto-settler failed to resolve. Use GET /admin/cappm/price to look up the correct price for the market's end_time_utc, then pass it here. Submits the Solana settlement tx, updates the DB, and distributes payouts.
      security:
        - adminKey: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
          example: CAPPM_dSYVoqW2LJ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [end_price_cents]
              properties:
                end_price_cents:
                  type: integer
                  description: Settlement price in USD cents
                  example: 7771230
      responses:
        '200':
          description: Settlement submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  market_id: { type: string }
                  end_price_cents: { type: integer }
        '400':
          description: Invalid request or market already resolved
        '500':
          description: On-chain settlement transaction failed

  /admin/markets/search:
    get:
      tags: [Admin]
      summary: Search markets by ID or transaction hash
      security:
        - adminKey: []
      parameters:
        - in: query
          name: q
          required: true
          schema: { type: string }
          description: Searches market ID, creation_tx_hash, and settlement_tx_hash (ILIKE, max 50 results)
        - in: query
          name: type
          schema: { type: string, enum: [CAPPM, GEM] }
      responses:
        '200':
          description: Matching markets
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  markets: { type: array, items: { $ref: '#/components/schemas/Market' } }
                  count: { type: integer }
        '400':
          description: q is required

  /balance/convert/usdc:
    post:
      tags: [Balance]
      summary: Convert all non-USDC custodial wallet assets to USDC
      description: |
        Swaps all non-USDC assets in the user's custodial Solana wallet to USDC via Jupiter.
        Covers SOL, USDT, USDG, and Wormhole-bridged ETH. A 0.01 SOL buffer is retained for fees.

        This is a mainnet operation. The resulting USDC stays in the user's on-chain wallet.
        Call `GET /balance/sync` afterwards to refresh the stored balance.

        Each asset is swapped independently. The response includes per-asset results so partial
        failures are visible.
      responses:
        '200':
          description: Swap results per asset
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  swaps:
                    type: array
                    items:
                      type: object
                      properties:
                        asset:
                          type: string
                          example: "SOL"
                        amount:
                          type: number
                          example: 2.5
                        tx_hash:
                          type: string
                        error:
                          type: string
        '500':
          description: Wallet unavailable or mainnet RPC not configured

  /admin/fee-wallet/dump-usdc:
    post:
      tags: [Admin]
      summary: Swap all non-USDC assets in the fee wallet to USDC
      description: |
        Swaps SOL, USDT, USDG, and Wormhole ETH held in the platform fee wallet to USDC
        via Jupiter. Uses `VANTIC_FEE_WALLET_SOL_PRIVATE_KEY` from env.

        Mainnet only. A 0.01 SOL buffer is retained for fees. Per-asset results are returned.
      security:
        - adminKey: []
      responses:
        '200':
          description: Swap results per asset
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  wallet:
                    type: string
                    description: Fee wallet public key
                  swaps:
                    type: array
                    items:
                      type: object
                      properties:
                        asset:
                          type: string
                        amount:
                          type: number
                        tx_hash:
                          type: string
                        error:
                          type: string
        '500':
          description: Key not configured or mainnet RPC unavailable

  /admin/untether-reserve/{wallet_type}:
    post:
      tags: [Admin]
      summary: Convert reserve stables (USDC/USDT) in MAS or fee wallet to PUSD
      description: |
        Admin operation that swaps all available USDC and USDT in the selected wallet to PUSD
        via Jupiter.

        - `wallet_type=mas` uses `VANT_MARKET_APPROVED_SETLLER_KEYPAIR`
        - `wallet_type=fee` uses `VANTIC_FEE_WALLET_SOL_PRIVATE_KEY`

        Mainnet only. The output mint is `MAINNET_SOL_PUSD_MINT` when set, otherwise
        the platform default PUSD mainnet mint. Returns per-asset swap results.
      security:
        - adminKey: []
      parameters:
        - in: path
          name: wallet_type
          required: true
          schema:
            type: string
            enum: [mas, fee]
      responses:
        '200':
          description: Untether operation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      wallet_type:
                        type: string
                        enum: [mas, fee]
                      wallet:
                        type: string
                        description: Source wallet public key
[...]
